/.settings/
/target/
/launch/
/scripts/
/xsl-debug/
/xsl-tests/
/xsl-misc/
/in/
/out/
/data/data-*.xml
/data/wn31/
/add-adj_head.xsl
/add-adj_position.xsl
/add-sense_idx.xsl
/add-sense_order.xsl
/add-sensekey.xsl
/add-tag_count.xsl
/add-verb_frame-attr.xsl
/add-verb_frame-decl.xsl
/add-verb_frame.xsl
/add-verb_template-attr.xsl
/add-verb_template-decl.xsl
/create-sensemap.xsl
/create-sensemap_txt.xsl
/create-sent.vrb.xsl
/create-sentidx.vrb.xsl
/data-adjpositions.xml
/data-tagcount.xml
/data-verbtemplates.xml
/lib-diff.xsl
/lib-lexid.xsl
/lib-satellite_head.xsl
/lib-satellite_head_word.xsl
/lib-sensekey.xsl
/pretty-print.xsl
/remove-syntacticbehaviourref.xsl
/test_sensekey_head.xsl
/to2.0.xsl
/verbframes.xml
/verbtemplates.xml
